.hidden {
  display: none;
}

#modal {
  background-color: pink;
  border: 1px solid red;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  font-weight: bold;
}

.like-glyph {
  font-size: 40px;
  cursor: pointer;
}

.activated-heart {
  color: red;
}
